<div class="ui stackable padded grid">
    <div class="ui row m-0">
        <div class="ui sixteen wide column">
         <div class="ui input">
 <select name="class" id="class" class="ui dropdown">
     <option value="1MBA1">1MBA 1</option>
 </select>
</div>
 <h4 class="ui horizontal divider header">
            Take Attandance
        </h4>
        </div>
       
    </div>
</div>